@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
  scroll-behavior: smooth;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.lobster {
  font-family: "Lobster", sans-serif;
}

.libre {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.courgette {
  font-family: "Courgette", cursive;
  font-weight: bold;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
}

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.allura {
  font-family: "Allura", cursive;
  font-weight: bolder;
  font-style: normal;
}

.satisfy {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes zoomInAndOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


.custom-black {
  background-color: rgb(19, 18, 18);
}

.custom-orange {
  color: rgb(250, 170, 21);
}

.custom-background-orange {
  color: rgb(250, 170, 21);
}

.icon {
  /* fill: orange; */
  fill: rgb(250, 170, 21);
}

.cart {
  fill: rgb(61, 60, 60);
}

.home-background {
    background-image: url('./Home-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    animation: zoomInAndOut 15s ease infinite;
}

nav::before {
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

nav.curtain::before {
  transform: translateY(0);
}

.glass {
  background-color: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.089);

}

.bounce-animation {
  animation: bounce 2s infinite;
}

.b-shadow {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.content-transition {
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.content:hover{
  transform: translateY(0px);
  opacity: 1;
  cursor: pointer
}

.h2-color {
  color: rgba(255, 255, 255, 0.05);
}

.active {
  color: rgb(250, 170, 21);
  text-decoration: underline;
}

.chef {
  transition: transform 0.3s ease;
}

.chef:hover {
  transform: skew(2deg);
} 

.chef-details{
  transform: translateY(0%);
  transition: all 0.3s ease;
}

.chef:hover .chef-details {
  transform: translateY(-35px);
  background-color: rgb(250, 170, 21);
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-br {
  border-radius: 50%;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px; 
  margin-left: -25px;
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.footer {
  padding: 80px 0 0;
  background-image: url(./footer-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1;
  color: white;
}

.footer::before {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.footer-item {
  width: 32%;
  padding: 0 15px;
  text-align: center;
}

.footer-item h3 {
  font-weight: 500;
  font-size: 24px;
  color: rgb(250, 170, 21);
  margin: 0 0 15px;
}

.footer-item p {
  line-height: 30px;
}

.footer-item .social-links {
  margin-top: 15px;
}

.footer-item .social-links a {
  display: inline-flex;
  height: 40px;
  width: 40px;
  color: white;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.footer-item .social-links a:hover{
  color: rgb(250, 170, 21);
}

.footer .copyright {
  margin: 80px 0 0;
  width: 100%;
  text-align: center;
  padding: 25px 15px;
  font-size: 14px;
  border-top: 1px solid white;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.bar-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 280px;
  background-color: #111827;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  padding: 80px 0 40px;
  transition: transform 0.5s ease;
  transform: translateX(100%);
}

.bar-nav.open {
  transform: translateX(0%);
  transition: all 0.5s ease;
}

.bar-nav ul li a {
display: block;
font-size: 25px;
color: white;
padding: 10px 30px;
text-transform: capitalize;
transition: color 0.3s ease;
}

.bar-nav ul li a:hover {
  color: rgb(250, 170, 21);
}

.nav-toggler.active {
  position: absolute;
  right: 0;
  z-index: 1;
  transition: all 0.5s ease;
  transform: translateX(-200px);

}

@keyframes pageLoader {
  0%, 100% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
}

.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  transition: all 1s ease;
}

.page-loader.fade-out {
  opacity: 0;
}

.page-loader::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: rgb(250, 170, 21);
  left: calc(50% - 50px);
  top: calc(50% - 2px);
  animation: pageLoader 1s linear infinite;
}